*.mod
*.o
*Makefile
*radar_error
*.cdf
process_mwrlos_a1_darwin*.pro
*fort.77
*mask*.nc
*mask*.nc
!cpol_mask_ring.nc
process_smet_a1_darwin*.pro
interpolate_model*.pro
3D_create/Barnes_interp/interpolate_model*.pro
.first*
.last*
.years*
.months*
*budget_put
*process_va_output
*2d_put
*3d_put
*variational_analysis
*.tmp
*.cdl
*test*
!test.tar.bz2
*radar_error
*.~
*.DS_Store
photorec.ses
*.out
*.err
*.proj
submit_*.sh
Jobs/*
